h1{
  text-align: center;
  }

img{
  width: 600px;
  margin: 0 0 0 60;

}

ul{
  text-align: center;
  padding-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
  list-style: none;    
}
li{
  padding-bottom: 15px;
  font-size: large;    
}
a{
  color: black;
  text-decoration: none;
}
